[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "==0.27.0"
fastapi = "==0.111.0"
uvicorn = "==0.30.1"
prometheus-client = "==0.20.0"
opentelemetry-distro = "==0.46b0"
opentelemetry-instrumentation-fastapi = "==0.46b0"
opentelemetry-instrumentation-logging = "==0.46b0"
opentelemetry-exporter-otlp = "==1.25.0"
flask = "==3.0.3"
prometheus-fastapi-instrumentator = "==7.0.0"
sqlmodel = "==0.0.21"
psycopg2-binary = "==2.9.9"
opentelemetry-instrumentation-sqlalchemy = "==0.46b0"

[dev-packages]

[requires]
python_version = "3.12"
